<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Cadastro</title>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<style>
body{
background-color: #8e24aa;
}
.logo {
	width: 100px;
	margin: auto;
	margin-left: -120px;
	margin-top: -20px;
}

.botao-home{
	margin-top: 0px;
	margin-right: 50px;
}

</style>
<body>
	<div th:replace="~{home :: menu}"><a href="/" class="logo"><img class="logo" src="/logo.png"></a></div>
	<div class="row center-aligin">
		<div class="container s12 m4 l8">
			<div class="card">
				<div class="card-action white-text center purple darken-1">
					<h3>Cadastro</h3>
				</div>
				<form action="/darlingBeauty" method="post">
					<div class="card-content">
						<div class="form-field">
							<label>Nome:</label> <input type="text" name="nome"></input>
						</div>
						<div class="form-field">
							<label>CPF:</label> <input type="text" name="cpf"></input>
						</div>
						<div class="form-field">
							<label>Email:</label> <input type="text" name="email"></input>
						</div>
						<div class="form-field">
							<label>Telefone:</label> <input type="text" name="telefone"></input>
						</div>
						<div class="form-field">
							<label>Endereço:</label> <input type="text" name="endereco"></input>
						</div>
						<div class="form-field">
							<label>Senha:</label> <input type="password" name="senha"></input>
						</div>
						<div class="form-field">
							<button class="btn-large waves-effect waves-dark purple darken-1" type="submit">Cadastrar</button>
							<button class="btn-large waves-effect waves-dark purple darken-1" type="reset">Limpar</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<footer class="page-footer purple darken-2">
		<div class="container">
			<div class="row">
				<div class="col l6 s12">
					<h5 class="white-text" style="color: #ffffff">Darling Beauty</h5>
					<p class="grey-text text-lighten-4" style="color: #ffffff">Realce sua Beleza, Revele sua Confiança!</p>
				</div>
				<div class="col l4 offset-l2 s12">
					<h5 class="white-text">Links</h5>
					<ul>
						<li><a class="grey-text text-lighten-3" th:href="@{/darlingBeauty/login}">Login</a></li>
						<li><a class="grey-text text-lighten-3" th:href="@{/darlingBeauty/cadastroUsuario}">Cadastrar-se</a></li>
						<li><a class="grey-text text-lighten-3" th:href="@{/darlingBeauty/servicos}">Serviços</a></li>
						<li><a class="grey-text text-lighten-3" href="https://www.instagram.com/daarlingbeauty/">Instagram</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="footer-copyright">
			<div class="container">
				© 2024 DarlingBeauty
			</div>
		</div>
	</footer>

</body>
</html>

