<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Cadastro</title>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
	<div th:replace="~{home :: menu}"></div>
	<div class="row center-aligin">
		<div class="container s12 m4 l8">
			<div class="card">
				<div class="card-action white-text center purple darken-1">
					<h3>Cadastro</h3>
				</div>
				<form action="/darlingBeauty" method="post">
					<div class="card-content">
						<div class="form-field">
							<label>Nome:</label> <input type="text" name="nome"></input>
						</div>
						<div class="form-field">
							<label>CPF:</label> <input type="text" name="cpf"></input>
						</div>
						<div class="form-field">
							<label>Email:</label> <input type="text" name="email"></input>
						</div>
						<div class="form-field">
							<label>Telefone:</label> <input type="text" name="telefone"></input>
						</div>
						<div class="form-field">
							<label>Endereço:</label> <input type="text" name="endereco"></input>
						</div>
						<div class="form-field">
							<label>Senha:</label> <input type="password" name="senha"></input>
						</div>
						<div class="form-field">
							<button class="btn-large waves-effect waves-dark purple darken-1" type="submit">Cadastrar</button>
							<button class="btn-large waves-effect waves-dark purple darken-1" type="reset">Limpar</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

</body>
</html>

