<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<!-- Compiled and minified CSS -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<title>Darling Beauty</title>
<style>
</style>
</head>
<body>
	<nav th:fragment="menu" class="purple darken-2" role="navigation">
		<div class="nav-wrapper container">
			<a href="/" class="brand-logo">DarlingBeauty</a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a th:href="@{/darlingBeauty/login}">Login</a></li>
				<li><a th:href="@{/darlingBeauty/cadastroUsuario}">Cadastrar-se</a></li>
			</ul>
		</div>
	</nav>

	<div id="index-banner" class="purple darken-1">
		<div class="section no-pad-bot">
			<div class="container">
				<br> <br>
				<h1 class="header center" style="color: #ffffff">Darling Beauty</h1>
				<div class="row center">
					<h5 class="header col s12 light" style="color: #ffffff">
						Sua beleza é a nossa paixão!<br>
						Somos um salão de beleza dedicado a realçar a sua essência e
						proporcionar momentos de auto cuidado que fazem a diferença na sua
						rotina. Nossa equipe de profissionais altamente qualificados está
						pronta para oferecer serviços personalizados, que vão desde cortes
						de cabelo e coloração até tratamentos de pele e maquiagem.</h5>
				</div>
				<br> <br>
			</div>
		</div>
	</div>

	<div id="index-banner" class="purple lighten-1">
		<div class="section no-pad-bot">
			<div class="container">
				<br> <br>
				<h1 class="header center" style="color: #ffffff">Serviços</h1>
				<div class="row center">
					<h5 class="header col s12 light" style="color: #ffffff">
						Tratamentos para pele, cabelos e maquiagem <br>
						Aqui, cada detalhe é pensado para que você se sinta
						especial e confortável. Utilizamos apenas produtos de alta
						qualidade e seguimos as últimas tendências do mundo da beleza,
						garantindo resultados incríveis e duradouros.</h5>
				</div>
				<br> <br>
			</div>
		</div>
	</div>

	<div id="index-banner" class="purple darken-1">
		<div class="section no-pad-bot">
			<div class="container">
				<br> <br>
				<h1 class="header center" style="color: #ffffff">Ambiente</h1>
				<div class="row center">
					<h5 class="header col s12 light" style="color: #ffffff">
						Descubra um ambiente acolhedor, onde a sua satisfação é nossa prioridade! <br> 
						Venha nos visitar e permita-se viver uma experiência transformadora. No
						Darling Beauty, você merece o melhor! Agende seu horário e comece
						a sua jornada de beleza conosco!</h5>
				</div>
				<br> <br>
			</div>
		</div>
	</div>

	<footer class="page-footer purple darken-2">
		<div class="container">
			<div class="row">
				<div class="col l6 s12">
					<h5 class="white-text" style="color: #ffffff">Darling Beauty</h5>
					<p class="grey-text text-lighten-4" style="color: #ffffff">Realce sua Beleza, Revele sua Confiança!</p>
				</div>
				<div class="col l4 offset-l2 s12">
					<h5 class="white-text">Links</h5>
					<ul>
						<li><a class="grey-text text-lighten-3" th:href="@{/darlingBeauty/login}">Login</a></li>
						<li><a class="grey-text text-lighten-3" th:href="@{/darlingBeauty/cadastroUsuario}">Cadastrar-se</a></li>
						<li><a class="grey-text text-lighten-3" href="https://www.instagram.com/daarlingbeauty/">Instagram</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="footer-copyright">
			<div class="container">
				© 2024 DarlingBeauty
			</div>
		</div>
	</footer>
</body>
</html>